*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: inherit;}

html {
  font-size: 62.5%;
  font-family: 'Dejavu Sans', sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background: #1b1d21;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Tic-Tac-Toe {
  border: 0.5px solid #4a505a;
  background: #25282e;
  display: flex;
  flex-direction: column;
  border-radius: 1.7rem;
  width: clamp(0.1rem, 99vh, 39.3rem);
  height: clamp(0.1rem, 99vh, 59rem);
  flex-direction: column;
}

header {
  position: relative;
  width: 100%;
  height: clamp(0.1rem, 23vh, 14.2rem);
  border-bottom: 0.5px solid #4f5560;
}

.banner-svg {
  width: 100%;
  height: 100%;
  border-radius: 1.7rem 1.7rem 0 0;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(0.1rem, 9vmin, 3.5rem);
  background: -webkit-linear-gradient(0deg, #ff6363 0%, #57c4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: clamp(0.1rem, 81vh, 88rem);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 30rem;
  height: 30rem;
}

.xo {
  color: #919198;
  font-size: 6rem;
  font-weight: 100;
  font-family:'Gill Sans', sans-serif;
  text-align: center;
  padding-bottom: 0.7rem;
  border: 0.1rem solid #575b63;
  background: none;
  transition: border 1.3s;
}

.xo:nth-child(1),
.xo:nth-child(2),
.xo:nth-child(3) {
  border-top: none;
}

.xo:nth-child(1),
.xo:nth-child(4),
.xo:nth-child(7) {
  border-left: none;
}

.xo:nth-child(3),
.xo:nth-child(6),
.xo:nth-child(9) {
  border-right: none;
}

.xo:nth-child(7),
.xo:nth-child(8),
.xo:nth-child(9) {
  border-bottom: none;
}

.xo:nth-child(1):hover,
.xo:nth-child(2):hover,
.xo:nth-child(3):hover,
.xo:nth-child(4):hover,
.xo:nth-child(5):hover,
.xo:nth-child(6):hover,
.xo:nth-child(7):hover,
.xo:nth-child(8):hover,
.xo:nth-child(9):hover {
  border-color: #ff8383;
  transition: border 0s;
}

.xo:nth-child(1):focus,
.xo:nth-child(2):focus,
.xo:nth-child(3):focus,
.xo:nth-child(4):focus,
.xo:nth-child(5):focus,
.xo:nth-child(6):focus,
.xo:nth-child(7):focus,
.xo:nth-child(8):focus,
.xo:nth-child(9):focus {
  border-color: #575b63;
  transition: border 2s;
}

.stats {
  color: #767c86;
}

.stats span:nth-of-type(1) span {
  color: #5bafe6;
}

.stats span:nth-of-type(2) span {
  color: #ff8383;
}

#stats-player {
  transition: color 0.2s;
}

#stats-computer {
  transition: color 0.2s;
}

.difficulty-button {
  border: none;
  border-radius: 1.3rem;
  background: none;
  font-size: 1.6rem;
  color: #767c86;
  height: 3rem;
  align-self: flex-start;
  margin-left: 6rem;
  cursor: pointer;
  transition: color 1.3s;
}

.easy {
  color: #73c768;
  transition: color 1.3s;
}

.easy:hover {
  color: #90e984;
  transition: color 0s;
}

.easy:active {
  color: #baeeb3;
  transition: color 0s;
}

.medium {
  color: #5bafe6;
  transition: color 1.3s;
}

.medium:hover {
  color: #6dc4ff;
  transition: color 0s;
}

.medium:active {
  color: #8bc9f1;
  transition: color 0s;
}

.unbeatable {
  color: #ff8383;
  transition: color 1.3s;
}

.unbeatable:hover {
  color: #ff9e9e;
  transition: color 0s;
}

.unbeatable:active {
  color: #ffb0b0;
  transition: color 0s;
}

.difficulty-button:hover {
  color: #6dc4ff;
  transition: color 0s;
}

.difficulty-button:active {
  color: #8bc9f1;
  transition: color 0s;
}

@media (max-width:420px) {
  .Tic-Tac-Toe {
    width: 99.5%;
    height: 99.5%;
  }
}

@media (max-width:450px) and (max-height: 915px) {
    .game-board {
      width: 37rem;
      height: 37rem;
    }
    
    .xo {
      font-size: 9rem;
    }
}

@media (max-width:450px) and (max-height: 820px) {
  .game-board {
    width: 32rem;
    height: 32rem;
  }
  
  .xo {
    font-size: 8rem;
  }
}
@media (max-width:450px) and (max-height: 660px) {
  .game-board {
    width: 30rem;
    height: 30rem;
  }
  
  .xo {
    font-size: 7rem;
  }
}

@media (max-height: 450px) {
  .game-board {
    width: 22rem;
    height: 22rem;
  }
  
  .xo {
    font-size: 4rem;
  }
}

@media (max-height: 350px) {
  .game-board {
    width: 15rem;
    height: 15rem;
  }
  
  .xo {
    font-size: 3rem;
  }
}
